faiss-cpu==1.8.0.post1
python-dotenv==1.0.1
PyPDF2==3.0.1
langchain-openai==0.1.9
langchain-community==0.2.5
langchain-core==0.2.9
langchain==0.2.5
openai==1.35.3
requests==2.32.3
pillow==10.3.0
ipython==8.24.0
numpy==1.23.5
pandas==1.3.5
tenacity==8.4.1
redlines==0.4.2