beautifulsoup4
markdown
psycopg2-binary
requests
python-dotenv
pprintpp
typing-extensions
pydantic
langchain
langchain-openai
langchain-community
ipython
langgraph
gradio
unstructured[all-docs]
pillow 
lxml
pdf2image
chromadb
pymupdf
pypdf2